body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #101011;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR */

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #101011;
  color: #5acbcb;
  text-align: center;
  overflow: hidden;
}

.navbar ul {
  padding: 0;
  padding-top: 70px;
  list-style: none;
  margin: 0;
}
.navbar li {
  padding: 10px 0;
}
.navbar a {
  color: #5acbcb;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 5px;
}
.navbar-inside {
  position: relative;
  width: 100%;
  height: 100%;
}

.logout {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.btn-logout {
  background: transparent;
  color: #ff706e;
  border: 2px solid #ff706e;
  border-radius: 10px;
  padding: 10px 15px;
  letter-spacing: 2px;
  font-weight: bold;
}
.navbar-close {
  position: absolute;
  background: transparent;
  width: 50px;
  height: 50px;
  border: none;
  top: 10px;
  left: 10px;
}
.navbar-close i {
  font-size: 30px;
  color: #ff706e;
}
.navbar-sign-in {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(90, 203, 203, 0.3);
  padding: 0 10px;
  background: #101011;
  z-index: 10;
}
.navbar-open {
  background: transparent;
  border: none;
  padding: 0;
}
.navbar-open i {
  font-size: 30px;
  color: #5acbcb;
}

.google-sign-in {
  background: transparent;
  color: white;
  border: 2px solid #f3b605;
  border-radius: 10px;
  padding: 7px 10px;
}
.g {
  font-weight: bold;
  color: red;
  font-size: 17px;
}
.sign {
  color: #4081ec;
}
.in {
  color: #32a350;
}
.icon {
  color: #ff706e;
}
.icon i {
  font-size: 30px;
}

/* APP */

.app {
  padding: 60px 10px;
  height: 100%;
  color: white;
}
.active {
  border-bottom: 1px solid #ff706e;
}

/* SIGN IN */

.sign-in {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  background: transparent;
}
button:focus {
  background: transparent;
}

/* SEARCH */
.search {
  position: relative;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 9px);
  background: #101011;
  color: white;
  border: none;
}
.search input {
  color: white;
}

.searched-game {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid rgba(90, 203, 203, 0.5);
}
.searched-game img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  opacity: 0.5;
}
.searched-game p {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  background: rgba(90, 203, 203, 0.5);
  padding: 5px 10px;
  border-radius: 15px;
}
